*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

body{
    background: url(../imagens/Fotos/imagem6.jpg) no-repeat;
    background-size: 100%;
}
form{
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin: 200px auto 0;
}